In [1]:
import pandas as pd
import numpy as np

In [36]:
path = r'Experiments/MultiplyTemperature/Exp0(0)/Data'
df1 = pd.read_csv(f'{path}/1.csv',index_col=0)
df2 = pd.read_csv(f'{path}/2.csv',index_col=0)
df3 = pd.read_csv(f'{path}/3.csv',index_col=0)
df4 = pd.read_csv(f'{path}/4.csv',index_col=0)

In [37]:
rules= {0:'OK',1:'processor_sweep',2:'value_combine',3:'error'}
col_rules={'Viscosity_mark':'Viscosity_verbose','Temperature_mark':'Temperature_verbose'}

In [38]:
df1 = df1.rename(columns=col_rules)
df1[['Viscosity_verbose','Temperature_verbose']] = df1[['Viscosity_verbose','Temperature_verbose']].replace(rules)

df2 = df2.rename(columns=col_rules)
df2[['Viscosity_verbose','Temperature_verbose']] = df2[['Viscosity_verbose','Temperature_verbose']].replace(rules)
df2['time'] =df2['time']+ df1['time'].max()+1

df3 = df3.rename(columns=col_rules)
df3[['Viscosity_verbose','Temperature_verbose']] = df3[['Viscosity_verbose','Temperature_verbose']].replace({np.nan:'OK'})
df3['time'] =df3['time']+ df2['time'].max()+1

df4 = df4.rename(columns=col_rules)
df4[['Viscosity_verbose','Temperature_verbose']] = df4[['Viscosity_verbose','Temperature_verbose']].replace({np.nan:'OK'})
df4['time'] =df4['time']+ df3['time'].max()+1

In [39]:
df = pd.concat([df1,df2,df3,df4])

In [40]:
df

         time  Viscosity Viscosity_verbose  Temperature Temperature_verbose
0         0.0      345.4   processor_sweep         13.8                  OK
1         1.0      344.9                OK         13.8                  OK
2         2.0      344.9                OK         13.8                  OK
3         3.0      344.9                OK         13.8                  OK
4         4.0      345.4   processor_sweep         13.8                  OK
...       ...        ...               ...          ...                 ...
5935  19333.0       45.7                OK         40.5                  OK
5936  19334.0       46.0                OK         40.5                  OK
5937  19335.0       45.6                OK         40.5     processor_sweep
5938  19336.0       45.7                OK         40.5                  OK
5939  19337.0       46.0                OK         40.5                  OK

[19338 rows x 5 columns]

In [10]:
import plotly 
import plotly.graph_objects as go
import matplotlib.pyplot as plt

In [11]:
%matplotlib qt

In [49]:
fig,ax_v =plt.subplots()
ax_v.scatter(df['time'],df['Viscosity'],color='red')
ax_v.set_ylabel('Viscosity',color='red')
# ax_v.tick_params(axix='y',labelcolor='red')
ax_v.set_ylim((0,350))

ax_T = ax_v.twinx()
ax_T.scatter(df['time'],df['Temperature'],color='blue')
ax_T.set_ylabel('Temperature',color='blue')
ax_T.set_ylim((13.5,40.5))

(13.5, 40.5)