In [1]:
import numpy as np
import pandas as pd
from mylibs import tools, functions as f

In [2]:
%matplotlib qt

In [3]:
exp = tools.Experiment()
exp.load_csv(*tools.input_path())
tools.temporal_base_plot(exp)

In [4]:
exp = tools.temporal_config_plot(exp)

In [5]:
tools.temperature_plot(
    exp,
    title='Viscosity',
    xlabel='Temperature [C]',
    ylabel='Viscosity [cP]',
    interactive=True,
)

In [6]:
exp.apply(f.C_to_K)
exp.apply(f.nu_D)
exp.apply(f.linearize)
exp.group_filter(f.iqr_filter)
exp.apply(f.delinearize)
exp.apply(f.K_to_C)
print('Filtered')

Filtered

In [7]:
tools.temperature_plot(
    exp,
    title='Diffusion',
    xlabel='Temperature [C]',
    ylabel='D [m2/s]',
    interactive=True,
)

In [8]:
info, result, func = tools.regress(exp)
exp.set_info(**info)
x = np.linspace(13, 42, 100) + 273.15
ols_res = tools.Experiment(
    pd.DataFrame({
        'x': x, 'y': func(x), 'time': x * 0
    }),
    'interpolated',
)

ols_res.apply(f.K_to_C)

            x            y  time
0   13.000000   863.939696   0.0
1   13.292929   885.807123   0.0
2   13.585859   908.181660   0.0
3   13.878788   931.073945   0.0
4   14.171717   954.494818   0.0
..        ...          ...   ...
95  40.828283  7539.383767   0.0
96  41.121212  7697.565070   0.0
97  41.414141  7858.761211   0.0
98  41.707071  8023.023591   0.0
99  42.000000  8190.404379   0.0

[100 rows x 3 columns]

In [10]:
exp.log

[('csv loaded',
  'D:\\Works\\Diplom-work\\Experiments\\OCM_viscosity\\OCM0\\data_OCM0_up.csv'),
 ('initial_filter', {'time': [20.0, inf], 'y': [20.0, 300.0], 'x': (12, 42)}),
 ('C_to_K', []),
 ('nu_D', []),
 ('linearize', []),
 ('iqr_filter', []),
 ('delinearize', []),
 ('K_to_C', [])]

In [11]:
tmp=exp.copy()

In [12]:
exp2= exp.copy()
ols_res2 = ols_res.copy()
exp2.apply(f.C_to_K)
ols_res2.apply(f.C_to_K)
exp2.apply(f.linearize)
ols_res2.apply(f.linearize)

tools.comparation_plot(
    exp2,
    ols_res2,
    title='OLS_Linear',
    xlabel='Temperature',
    ylabel='D',
    interactive=True,
)

In [13]:
tools.comparation_plot(
    exp,
    ols_res,
    title='OLS_Diffusion',
    xlabel='Temperature [C]',
    ylabel='D [m2/s]',
    interactive=True,
)

In [22]:
exp.save_hdf5()

In [19]:
exp.log

[('csv loaded',
  'D:\\Works\\Diplom-work\\Experiments\\OCM_viscosity\\OCM0\\data_OCM0_up.csv'),
 ('initial_filter', {'time': [20.0, inf], 'y': [20.0, 300.0], 'x': (12, 42)}),
 ('C_to_K', []),
 ('nu_D', []),
 ('linearize', []),
 ('iqr_filter', []),
 ('delinearize', []),
 ('K_to_C', [])]

# Load

In [ ]:
import os
for i in range(9):

    exp = tools.Experiment()
    path = f'D:\Works\Diplom-work\Experiments\OCM_viscosity\OCM{i}'
    file = [file for file in os.listdir(path) if '.hdf5' in file][0]
    exp.load_hdf5(*tools.input_path(f'{path}\{file}'))
    info, result, func = tools.regress(exp)
    exp.set_info(**info)
    os.remove(f'{path}\{file}')
    exp.save_hdf5(f'{path}\{file}')

In [27]:
with pd.HDFStore('D:\Works\Diplom-work\Experiments\OCM_viscosity\OCM0\data_OC0_up.hdf5') as file:
    log = file.get_storer('data').attrs.log 
    info= file.get_storer('data').attrs.info

KeyError: 'No object named data in the file'

In [26]:
log

[('csv loaded',
  'D:\\WORKS\\Diplom-work\\Experiments\\OCM_viscosity\\OCM1\\data_OCM1_up.csv'),
 ('initial_filter', {'time': [90.0, inf], 'y': [30.0, 200.0], 'x': (12, 42)}),
 ('C_to_K', []),
 ('nu_D', []),
 ('linearize', []),
 ('iqr_filter', []),
 ('delinearize', []),
 ('K_to_C', []),
 ('hdf5 loaded',
  'D:\\Works\\Diplom-work\\Experiments\\OCM_viscosity\\OCM1\\data_OCM1_up.hdf5')]

In [22]:
exp =tools.Experiment()
exp.load_hdf5(*tools.input_path())

        time            y  Viscosity_verbose     x Temperature_verbose
80      81.0  9441.265060                 OK  40.3                  OK
81      82.0  9441.265060                 OK  40.3                  OK
82      83.0  9466.767372           OK_inner  40.2            OK_inner
83      84.0  9466.767372           OK_inner  40.2                  OK
84      85.0  9466.767372           OK_inner  40.2                  OK
...      ...          ...                ...   ...                 ...
7530  7674.0  1853.603604  image_sweep_check  14.9                  OK
7531  7675.0  1808.223478                 OK  14.9                  OK
7532  7676.0  1808.223478  image_sweep_check  14.9                  OK
7533  7677.0  1825.411914           OK_inner  14.9                  OK
7534  7678.0  1839.399745                 OK  14.9                  OK

[5820 rows x 5 columns]

In [26]:
exp.log

[('csv loaded',
  'D:\\WORKS\\Diplom-work\\Experiments\\OCM_viscosity\\OCM2\\data_OCM2_down.csv'),
 ('initial_filter', {'time': [80.0, inf], 'y': [30.0, 170.0], 'x': (12, 42)}),
 ('C_to_K', []),
 ('nu_D', []),
 ('linearize', []),
 ('iqr_filter', []),
 ('delinearize', []),
 ('K_to_C', []),
 ('hdf5 loaded',
  'D:\\Works\\Diplom-work\\Experiments\\OCM_viscosity\\OCM2\\data_OCM2_down.hdf5'),
 ('hdf5 loaded',
  'D:\\Works\\Diplom-work\\Experiments\\OCM_viscosity\\OCM2\\data_OCM2_down.hdf5')]

In [14]:
exp.info

{'compound': 'ocm',
 'rho': 1.72,
 'w': 0.0,
 'E': 59372.593499571696,
 'D0': 58053559827657.89,
 'dD0': 2256959362103.371,
 'dE': 95.76658562539887,
 'f_statistic': 3029495.381638645,
 'r2': 0.9951642727866552,
 'd_D0': 2256959362103.371,
 'd_E': 95.76658562539887}