In [1]:
import numpy as np
import pandas as pd

In [2]:
visc =pd.read_csv('viscosity.csv',index_col=0)
visc['x_exact']=visc['x']
visc['x']= visc['x']//1
visc.head(2)

,x,Temperature,rho,w_mass,w_vol,D,Viscosity,E,D0,compound,x_exact
0,100.0,15,0.7,100.0,100.0,80056.837868,3.600238,19660.651841,2.942474e+08,butanol,100.0
1,100.0,20,0.7,100.0,100.0,90518.909212,3.241333,19660.651841,2.942474e+08,butanol,100.0

In [3]:
sim =pd.read_csv('simulations.csv',index_col=0)
sim.head(2)

  compound    x  Temperature    D_comp     D_but
0  butanol  100           15  0.415196  0.415196
1  butanol  100           20  0.505504  0.505504

In [8]:
merged = sim.join(visc.set_index(['compound','x','Temperature']),on=['compound','x','Temperature']).dropna()
merged.to_csv('merged.csv')
merged.head(2)

,compound,x,Temperature,D_comp,D_but,rho,w_mass,w_vol,D,Viscosity,E,D0,x_exact
0,butanol,100,15,0.415196,0.415196,0.7,100.0,100.0,80056.837868,3.600238,19660.651841,2.942474e+08,100.0
1,butanol,100,20,0.505504,0.505504,0.7,100.0,100.0,90518.909212,3.241333,19660.651841,2.942474e+08,100.0