In [1]:
import numpy as np
import pandas as pd
from mylibs import tools,plots, functions as f

In [2]:
%matplotlib qt

In [124]:
exp = tools.Experiment()
exp.load_csv(tools.input_path())
exp.set_info(
    compound=input('Compound: '),
    w=float(input('W mass: ')),
    rho=float(input('Rho: ')),
    
)
plots.temporal_plot(exp,ylabel='Viscosity [cP]')

In [125]:
exp = tools.configurate_data(exp)

In [126]:
tmp_exp =exp.copy()

In [94]:
exp = tmp_exp.copy()

In [127]:
plots.temperature_plot(
    exp,
    title='Viscosity',
    xlabel='Temperature [C]',
    ylabel='Viscosity [cP]',
    interactive=True,
)

In [96]:
# plots.temporal_plot(exp,ylabel='Viscosity [cP]')

In [56]:
# a= exp.d
# a.reset_index(drop=True,inplace=True)

In [60]:
# a[a['time']>7190]

        time     y  Viscosity_verbose     x Temperature_verbose
5370  7191.0  3.48  image_sweep_check  31.9                  OK
5371  7192.0  3.48           OK_inner  31.9                  OK
5372  7193.0  3.48           OK_inner  32.0   image_sweep_check
5373  7194.0  3.48           OK_inner  32.0            OK_inner
5374  7195.0  5.48           OK_inner  32.0            OK_inner
...      ...   ...                ...   ...                 ...
6935  9265.0  2.91                 OK  40.0                  OK
6936  9266.0  2.92                 OK  40.0                  OK
6937  9267.0  2.91                 OK  40.0                  OK
6938  9268.0  2.92                 OK  40.0                  OK
6939  9269.0  2.92                 OK  40.0                  OK

[1570 rows x 5 columns]

In [76]:
# for i in range(5370,6939):
#     if a['y'][i]>4:
#         a['y'][i]=a['y'][i]-2

In [77]:
# exp.d = a

In [128]:
exp.apply(f.C_to_K)
exp.apply(f.nu_D)
exp.apply(f.linearize)
exp.group_filter(f.iqr_filter)
exp.apply(f.delinearize)
exp.apply(f.nu_D)
exp.apply(f.K_to_C)
print('Filtered')
plots.temperature_plot(
    exp,
    title='Viscosity clear',
    xlabel='Temperature [C]',
    ylabel='Viscosity [cP]',
    interactive=True,
    # save=True,
)

Filtered

In [129]:
exp.apply(f.C_to_K)
exp.apply(f.nu_D)
exp.apply(f.K_to_C)
plots.temperature_plot(
    exp,
    title='Diffusion',
    xlabel='Temperature [C]',
    ylabel='D [m2/s]',
    interactive=True,
    # save=True
)

In [130]:
info, result, func = tools.regress(exp)
exp.set_info(**info)
x = np.linspace(13, 42, 100) + 273.15
ols_res = tools.Experiment(
    pd.DataFrame({
        'x': x, 'y': func(x), 'time': x * 0
    }),
    'interpolated',
)

ols_res.apply(f.K_to_C);

In [131]:
exp2= exp.copy()
ols_res2 = ols_res.copy()
exp2.apply(f.C_to_K)
ols_res2.apply(f.C_to_K)
exp2.apply(f.linearize)
ols_res2.apply(f.linearize)

plots.comparation_plot(
    exp2,
    ols_res2,
    title='OLS_Linear',
    xlabel='Temperature',
    ylabel='D',
    interactive=True,
    # save=True,
)

In [132]:
plots.comparation_plot(
    exp,
    ols_res,
    title='OLS_Diffusion',
    xlabel='Temperature [C]',
    ylabel='D [m2/s]',
    interactive=True,
    # save=True,
)

In [123]:
exp.save_hdf5()